* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Segoe UI, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f3f46, #214e55, #1a3a40);
    color: white;
    overflow-x: hidden;
}

/* TOPBAR */

.topbar {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
    background: linear-gradient(90deg, #1f3a40, #234a52);
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    gap: 10px;
}

.logo {
    font-weight: 600;
    font-size: 18px;
}

.search {
    width: 70%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.top-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-icons i {
    font-size: 20px;
}

.top-icons img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* LAYOUT MOBILE FIRST */

.layout {
    display: flex;
    flex-direction: column;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    /* background: linear-gradient(135deg, #1f3f46, #214e55, #1a3a40); */
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    gap: 30px;
}

/* MAIN */

.main {
    padding: 16px;
}

h2 {
    margin-bottom: 2rem;
    font-size: 20px;
    text-align: center;
}

/* GRID */

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-top: 16px;
}

/* CARD */

.card {
    box-shadow: 1px 1px 10px 3px rgb(0, 0, 0, 0.35);
    border-radius: 10px;
    padding: 16px;
}

.card p {
    font-size: 13px;
}

/* INVENTORY ALERTS */

.inventory-alert {
    padding: 8px;
    border-radius: 6px;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: black;
}

.red {
    background: #ffe2e2;
}

.yellow {
    background: #fff4cc;
}

/* PRESCRIPTIONS */

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.dropdown {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: whitesmoke;
    cursor: pointer;
}

.prescription-list {
    max-height: 280px;
    overflow-y: auto;
}

.prescription {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;
    height: 160px;
    box-shadow: 1px 1px 10px 3px rgb(0, 0, 0, 0.35);
    flex-direction: column;
}

.data {
    display: flex;
    padding: 0.5rem;
    /* justify-content: space-between; */
    margin-top: 0.3rem;
}

.name {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.name strong {
    font-size: 13px;
}

.p-name {
    margin-right: 0.8rem;
}

.doc {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 0.3rem;
    border-bottom: 1px solid #ddd;
}

.doc img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.assign,
.primary {
    background: linear-gradient(90deg, #38b6ff, #8a5cff, #ff4fd8);
    box-shadow: 1px 1px 10px 4px #ff4fd8;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 0.2rem;
    width: 30%;
    height: 50px;
}

/* QUEUE */

.queue {
    padding: 10px;
    border-radius: 8px;
    margin: 8px 0;
    color: black;
}

.queue i,
.yellow-box i {
    margin-right: 1rem;
    padding: 3px;
    border-radius: 50%;
    background-color: skyblue;
    color: white;
}

.queue i:nth-child(2) {
    background-color: greenyellow;
}

.blue {
    background: #dbefff;
}

.green {
    background: #dff3e6;
}

.arrow {
    text-align: center;
}

.yellow-box {
    background: #fff2cc;
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
    color: black;
}

.yellow-box i {
    background-color: orange;
    padding: 2px 8px 2px 8px;
}

.card1 {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}

.card2 {
    margin-top: 1rem;
}

.handover {
    margin-top: 16px;
    background-color: #dff3e6;
    padding: 12px;
    border-radius: 8px;
}

.handover p {
    padding: 0.5rem;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.primary {
    width: 100%;
    margin-top: 1rem;
    height: 35px;
}

/* METRICS */

.metrics {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.metric {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0.5rem;
    border-bottom: 1px solid whitesmoke;
}


/* CHART */

canvas {
    width: 100% !important;
    height: 250px !important;
}

/* Tablet */
@media (min-width:768px) {

    .layout {
        flex-direction: row;
    }

    .sidebar {
        flex-direction: column;
        width: 60px;
        border-right: 1px solid #ddd;
        border-bottom: none;
        height: auto;
        justify-content: flex-start;
        align-items: center;
    }

    .sidebar i:nth-child(1) {
        margin-top: 1rem;
    }

    .search {
        width: 50%;
    }

    .dashboard-grid {
        grid-template-columns: 1fr 1fr;
    }

    .bottom-grid {
        grid-template-columns: 1fr 1fr;
    }

}

/* laptop */
@media (min-width:1024px) {

    .search {
        width: 40%;
    }

    .dashboard-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bottom-grid {
        grid-template-columns: 2fr 1fr;
    }

}